/* .title-bar{
    background-color: rgb(116, 116, 116);
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 2px groove white ;
} */
/* 
.side-bar {
    background-color: rgb(116, 116, 116);
    height: 90vh;
    display: table-row;
    align-items: center;
    float: left;
} */