.login-form{
    height: auto;
    width: 30vw;
}

.register-form{
    height: auto;
    width: 50vw;
}

.donation-form {
    height: auto;
    width: 30vw;
}

.forgot-form {
    margin-top: 8vh;
}

.form-title {
    font-size: 26px;
}

.fixed-div div:first-child{
    width: 100% !important;
    position: absolute !important;
}

.fixed-div {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}